$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$large-width: 1366px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$standart-color: #A07B50;
$roboto-font-tree: "Roboto", "Arial", sans-serif;
$robotomedium-font-tree: "Robotomedium", "Arial", sans-serif;
$robotobold-font-tree: "Robotobold", "Arial", sans-serif;
$robotolight-font-tree: "Robotolight", "Arial", sans-serif;
$yesevaone-font-tree: "Yesevaone", Times, serif;
