.call__reserve{
  position: fixed;
  width: 680px;
  padding: 0;
  min-height: 368px;
  padding-top: 30px;
  padding-left: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  color: black;

  background-color: #fff;
  border-radius: 10px;
}

.call__reserve-wrap{
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #674C33, $alpha: 0.5)
}

.call__reserve-close{
  position: absolute;
  width: 15px;
  height: 15px;
  top: 31.62px;
  right: 31.62px;

  background: none;
  border: none;
}

.call__reserve-close:hover path,
.call__reserve-close:focus path{
    fill: #000;
}

.call__reserve-close:active path{
    opacity: 0.6;
}

.call__reserve h2{
  font-size: 24px;
  text-transform: uppercase;
  font-family: $yesevaone-font-tree;
  line-height: 25px;
  color: #674C33;
}

.call__reserve-description{
  margin-top: 25px;

  font-size: 18px;
  color: #674C33;
}

.call__reserve-list{
  display: flex;
  padding: 0;
  width: 600px;
  margin-top: 35px;
  justify-self: space-between;

  list-style-type: none;
}

.call__reserve-list label{
  font-size: 16px;
  color: #674C33;
  font-weight: 700;
}

.call__reserve-list input{
  width: 280px;
  min-height: 56px;
  padding: 0 24px;

  border: 1px solid rgba($color: #674C33, $alpha: 0.1);
  color: #674C33;
}

.call__reserve-list input::placeholder{
  color: rgba($color: #674C33, $alpha: 0.4);
}

.call__reserve-bottom{
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.call__reserve-bottom .call__reserve-condition{
  display: block;
  margin-top: 44px;
  width: 310px;

  color: #C7AB91;
  font-size: 12px;
  line-height: 16px;
}

.call__reserve-condition a{
  color: #B29375;
  text-decoration: underline;
}

.call__reserve-condition a:hover{
  color: #B29375;
  text-decoration: none;
}

.call__reserve-bottom .call__reserve-request{
  width: 280px;
  height: 56px;
  margin-top: 122px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;

  border: none;
  background-color: #A07B50;
}

.call__reserve-bottom .call__reserve-request:hover,
.call__reserve-bottom .call__reserve-request:focus{
  opacity: 0.7;
}

.call__reserve-bottom .call__reserve-request:active{
  opacity: 0.9;
}
